
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  color: #fff!important;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main-cont{
  display: flex;
  flex-direction: row;
}


.weatherBg{
  background: url("https://wallpaperaccess.com/full/2040743.jpg");
  height: 100vh;
  background-repeat: none;
  background-size: cover;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading{
  position: absolute;
  font-family: 'Poppins';
  color: var(--font-color);
  height: auto;
  width: auto;
  border-bottom: var(--font-color) 2px solid;
  /* padding: 1.5em;*/
  /* background: rgb(227, 181, 181);  */
}
.head{
  position: absolute;
  top: 5%;
  left: 10%;
  height: 10px;
  color: var(--font-color);
}

.heading-es{
  font-family: 'Poppins'!important;
}
.heading-span{
  position: relative;
  top: -10px;
  left: 7.5rem;
  z-index: 3;
  color: var(--font-color);
  /* background: red; */
  animation: wiggle infinite 1s linear;
}
@keyframes wiggle {
  0% {font-size: 1em;opacity: 10%;}
  25% {font-size: 1.1em;opacity: 75%;}
  50% {font-size: 1.25em;opacity: 100%;}
  75% {font-size: 1.1em;opacity: 75%;}
  100% {font-size: 1em;opacity: 10%;}
}


.glass{  
/* From https://css.glass */
background: rgba(255, 255, 255, 0.233);
border-radius: 16px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.36);
}
.tempdiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  position: absolute;
  color: var(--font-color);
  top: 20%;
  left: 10%;
  z-index: 5;
  height: 45vh;
  width: 60vh;
  margin: 0 auto;
transition: .75s;
}
.tempdiv p{
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

.weather-info{
  margin: auto 0;
}
.icon{
  margin: auto 2rem;
}


.message{
position: absolute;
top: 10px;
margin: 5px auto;
height: auto;
width: auto;
padding: 0 2rem;
  text-align: center;
  transition: 1s ease-in-out;
  
transition: .75s;
}
.message p{
  margin: .5rem 0;
  color: var(--font-color);
  font-family: 'Poppins';
  font-weight: 400;
}



.prop-cont{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2,auto);
  position: absolute;
  color:var(--font-color);
  top: 20%;
  right: 10%;
}


.tempdiv2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* position: absolute; */
  color:var(--font-color);
  top: 20%;
  left: 5%;
  z-index: 5;
  height: 20vh;
  width: 50vh;
transition: .5s;
}
.tempdiv2 p{
  font-weight: bold;
}

.forcast-cont{
  position: absolute;
  bottom: 5%;
  left: 10%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  column-gap: 2.25%;
  text-align: center;
}

.forcast-details{
  padding: .5rem 2.5rem;
  margin: auto 0;
}
.forcast-details-main{
  padding: 2rem 5rem;
}
.other-days{  
  display: grid;
  grid-gap: 2.75%;
  grid-template-columns: repeat(6,auto);
}

/* ===================================== Extra big screen devices (1200px and above) */
@media screen and (max-width: 1200px) {

.tempdiv2{
  width: 35vh;
}
.tempdiv{
  width: 50vh;
}

.prop-cont{
  
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2,auto);
}



}

/*============================================ Big screen devices (1024px and above) */
@media screen and (max-width: 1024px) {


  .tempdiv{
    width: 40vh;
  }

  .tempdiv2{
    width: 30vh;
  }
    
  
}

/*============================================ Medium screen devices (768px and above) */
@media screen and (max-width: 768px) {
  .prop-cont{
  
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2,auto);
  }

  .tempdiv2{
    width: 60vh;
  }
}

/*================================================ Small screen devices (500px and above) */
@media screen and (max-width: 500px) {


  .prop-cont{
  
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2,auto);
  }
  .tempdiv2{
    width: 20vh;
  }
  
  .weatherBg{
    height: 110vh;}

    
.tempdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  color: var(--font-color);
  top: 20%;
  z-index: 5;
  height: 20vh;
  width: 45vh;
  margin: 0 auto;
}
  
}













